@inject IStringLocalizer<SimpleLibrarySystem.Resources.Translation> Localizer
@page "/"

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2>SimpleLibrarySystem</h2>
            <h5>@Localizer["CreatedBy"]: Tomasz Hałajko</h5>
            <div class="fakeimg"><img class="img-fluid" src="/images/background.png" asp-append-version="true" /></div>
        </div>
        <div class="col-sm-4">
            <h3>@Localizer["TechnologiesUsed"]:</h3>
            <h5>ASP.NET Core Blazor, C#, Entity Framework, SQL Server</h5>
            <h3>GitHub: <a href="https://github.com/TomaszHalajko/SimpleLibrarySystem">Link</a></h3>
        </div>
    </div>
</div>

